ul.phased-contest-entries {
  float: left;
  height: 100%;
  width: 100%;
}

ul.phased-contest-entries li.entry {
  border-style: solid;
  display: inline-block;
  float: left;
  height: 350px;
  list-style: none outside none;
  margin: 10px;
  padding: 0 10px;
  width: 20%;
}

.phased-contest-entry-image {
  width: 100%;
}
